body {
  background-color: #CEDDEF;
  color: #A3906C;
  background-image: url(background.jpeg);
  background-blend-mode: screen;
}



/************************** Welcome page **************************/

div.jumbotron {
  background-color: #5893D4;
  font-family: 'Audiowide', cursive;
}

#welcome-msg {
  position: relative;
  color: #5893D4;
  -webkit-text-stroke: 0.3vw #383d52;
}

#welcome-msg::before {
  white-space: nowrap;
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #FFC35C;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #FFC35C;
  overflow: hidden;
  animation: animate 6s linear infinite;
}

/* Might move these */
@media screen and (max-width: 568px) {
  @keyframes animate {
    0%,10%,100% {
      width: 0;
    }
    70%,90% {
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  @keyframes animate {
    0%,10%,100% {
      width: 0;
    }
    70%,90% {
      width: 60%;
    }
  }
}

/************************** Not Signed In **************************/

.not-signed-in {
  display: block;
  text-align: center;
  margin: auto;
  color: #E0702F;
}

/************************** Footer **************************/

.page-footer {
  position:absolute;
  left: 50%;
  transform:translateX(-50%);
  bottom:0;
  color: #E0A43A;
}

.page-footer hr {
  border-top: 5px dashed;
}