body {
  background-color: #CEDDEF;
  background-image: url(background.jpeg);
  background-blend-mode: screen;
  position: relative;
  min-height: 88vh;
}

/************************** Nav Bar **************************/
.navbar-default .navbar-brand {
  font-family: 'Knewave', cursive;
  color: #f8f8f2;
}

.navbar-default .navbar-brand:hover {
  color: #50fa7b;
}

.navbar-default .navbar-nav>li>a {
  color: #f8f8f2;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #44475a;
  color: #ff79c6;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #ff79c6;
}

.navbar {
  background-color: #282a36;
}

/************************** Welcome page **************************/

div.jumbotron {
  background-color: #44475a;
  font-family: 'Audiowide', cursive;
}

#welcome-msg {
  position: relative;
  color: #5893D4;
  font-size: 4vw;
  -webkit-text-stroke: 0.3vw #383d52;
}

#welcome-msg::before {
  white-space: nowrap;
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #ff79c6;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #ff79c6;
  overflow: hidden;
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0%,10%,100% {
    width: 0;
  }
  70%,90% {
    width: 55%;
  }
}

/******** Carousel ********/

.carousel {
  margin-top: 10rem;
  font-family: 'Pacifico', cursive;
  color:#383d52;
}

.carousel-control {
  background-image: none !important;
}

.carousel-inner .item {
  text-align: center;
}

.carousel-indicators {
  visibility: hidden;
}

.img-responsive {
  width: 10%;
}

.glyphicon-chevron-right {
  color:#383d52;
}

.glyphicon-chevron-left {
  color:#383d52;
}


/************************** Not Signed In **************************/

.not-signed-in {
  display: block;
  text-align: center;
  margin: auto;
  color: #ff5555;
}

/************************** Expense List **************************/

/******** Filter ********/
.panel-default>.panel-heading {
  color: #f8f8f2;
  background-color: #44475a;
}

.panel-body {
  color: #f8f8f2;
  background-color: #282a36;
}

.btn-primary {
  color: #f8f8f2;
  background-color: #6272a4;
  border-color: #6272a4;
}
/******** Table ********/

.table {
  border-collapse: collapse;
  color: #f8f8f2;
  background-color: #44475a;
  box-shadow: 0 5px 15x #6272a4;
}

tbody tr:hover {
  color: #282a36;
}

tr.active {
  color: #282a36;
}

/******** Detail ********/
#expense-detail {
  color: #f8f8f2;
  background-color: #6272a4;
}

/******** Pagination ********/
.pagination>li>a, .pagination>li>span {
  background-color: #282a36;
  color: #f8f8f2;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #282a36;
  color: #ff79c6;
  border-color: #282a36;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
  background-color: #282a36;
  color: #ff79c6;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
  background-color: #282a36;
  color: #ff79c6;
}


/************************** Summary **************************/
.row p {
  margin: 0 0 5px;
}

.col-xs-12 {
  padding-bottom: 5rem;
}

.google-visualization-controls-rangefilter-thumblabel {
  color: #ff79c6 !important;
}

.google-visualization-controls-slider-thumb {
  background-color: #ff79c6 !important;
  border: 1px solid #6272a4 !important;
}

.google-visualization-controls-slider-handle {
  background-color: #bd93f9 !important;
}

/************************** Footer **************************/

#content-wrap {
  padding-bottom: 1rem;
}

.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1rem; 
  color: #ff79c6;
}

.page-footer hr {
  width: 50%;
  border-top: 1px dashed;
}